footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1px 0; /* Reduce padding */
  margin-top: 20px;
  font-size: 14px; /* Adjust font size */
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 5px; /* Reduce bottom margin */
}

footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer p {
  margin: 2px 0; /* Reduce top and bottom margins */
  font-size: 6px; /* Smaller font size for paragraph */
}
