.header-navbar {
  background-color: white;
  color: black;
  padding: 5px 0;
  height: 90px;
  display: flex;
  align-items: center;
}

.header-nav-link {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
  font-weight: bold;
}

.header-landmarket-logo {
  max-height: 80px;
  max-width: 100px;
}

.header-navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
