.instructions-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .instructions-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .instructions-section {
    margin-bottom: 40px;
  }
  
  .instructions-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .instructions-card:hover {
    transform: translateY(-5px);
  }
  
  .instructions-card-content {
    display: flex;
    flex-direction: column;
  }
  
  .instructions-card h3 {
    display: flex;
    align-items: center;
    color: #0073e6;
    margin-bottom: 10px;
  }
  
  .instructions-card h3 svg {
    margin-left: 10px;
  }
  
  .instructions-card p,
  .instructions-card ol,
  .instructions-card ul {
    margin-bottom: 10px;
    line-height: 1.6;
    color: #555;
  }
  
  .instructions-card ol li,
  .instructions-card ul li {
    margin-bottom: 5px;
  }
  
  .instructions-card ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  .instructions-card ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  