/* SellProperty.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
}

.sell-property-container {
  padding: 3rem;
  background-image: url('/l1.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.sell-property-header {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #000; /* Updated to black */
  font-weight: bold;
}


.sell-property-form-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

.sell-property-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.form-group input:focus, .form-group select:focus {
  border-color: #004085;
  outline: none;
}

.image-previews {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  margin-top: 1rem;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.info {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #666;
}

.indicator {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.indicator.ri-checkbox-circle-fill {
  color: #28a745;
}

.indicator.ri-close-circle-fill {
  color: #dc3545;
}
